.Rproj.user
.Rhistory
.RData
.httr-oauth
Archivist_my_tests

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
vignettes/jss2342.tex
vignettes/jss2342.pdf
vignettes/allModels/
vignettes/arepo/
vignettes/figure/
vignettes/framed.sty
vignettes/*.md
vignettes/*.html
vignettes/*.R