---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

  {% if site.facebook %}
  {% include facebook_button.html %}
  {% endif %}

  {% if site.twitter %}
  {% include twitter_button.html %}
  {% endif %}

  {% if site.linkedin %}
  {% include linkedin_button.html %}
  {% endif %}
  
  {% if site.googleplus %}
  {% include googleplus_button.html %}
  {% endif %}


  {% if site.disqus %}
  {% include disqus_comments.html %}
  {% endif %}
